<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <!-- Media Queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/4f2aa92231.js" crossorigin="anonymous"></script>
  
  <title>My Notes</title>
</head>

<body background="images/back.png">
  <div class="top">
  </div>

  <div class="logo">
    <img src="images/adglogo2 1.svg" alt="ADG Logo">
  </div>