<%- include('header'); -%>   
    <div class="main-container">
        <div class="card test">
            <div class="title">This is title</div>
            <div class="message">
                This is message Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Omnis, facere suscipit praesentium beatae nihil maiores
            </div>
        </div>    
    </div>
<%- include('footer'); -%>