<%- include('header'); -%>   
    <div class="main-container">
      <% for (var i = 0; i<notes.length; i++) { %>
        <div class="card test">
            <div class="title"><%= notes[i].title %></div>
            <div class="message"><%= notes[i].msg %></div>
        </div>
      <% } %>      
    </div>
<%- include('footer'); -%>